@import "styles/main.scss";

.page-not-found__section {
    color: $black;
    text-align: center;
    margin: 0 auto;

    .copy {
        text-align: center;
        width: 100%;
        padding-bottom: pxToEm(80);
    }

    h1 {
        font-family: $secondary-font;
        font-size: pxToEm(40);
        font-weight: 400;

        @include tablet {
            font-size: pxToEm(60);
        }

        @include desktop {
            font-size: pxToEm(80);
            letter-spacing: pxToEm(0.6);
        }
    }

    p {
        font-family: $primary-font;
        line-height: pxToEm(30);
        font-size: pxToEm(14);

        @include tablet {
            font-size: pxToEm(16);
        }
    }
}