@import "styles/main.scss";

.section__events {

     /* width */
     ::-webkit-scrollbar {
        width: pxToEm(5);
    }
    
    /* Handle */
    ::-webkit-scrollbar-thumb {
        background: $black; 
        border-radius: 5px;
    }

    margin: 0 pxToEm(20);
    padding: 0 0 pxToEm(20) 0;

    @include tablet {
        padding: 0 pxToEm(20) pxToEm(80) pxToEm(20);
    }

    h2 {
        padding-bottom: pxToEm(5);
    }

    .no-events {
        display: block;
        text-align: center;
        margin: 0 auto;
        
        h2 {
            font-size: pxToEm(24);
        }
    }

    .events__copy {
        text-align: center;
        padding-bottom: pxToEm(20);

        @include tablet {
            max-width: $container-width;
            margin: 0 auto;
            padding-bottom: pxToEm(40);
        }
    }

    .event__card {
        display: flex;
        flex-direction: column;
        text-decoration: none;
        box-shadow: 0 15px 35px rgb(50 50 90 / 10%), 0 5px 15px rgb(0 0 0 / 7%);
        border-radius: 4px;
        padding: pxToEm(20);
        transition: all 0.2s ease-in;

        &:not(:last-child) {
            margin-bottom: pxToEm(20);

            @include tablet {
                margin-bottom: pxToEm(40);
            }
        }

        @include tablet {
            flex-direction: row;
        }

        .date {
            width: 100%;
            font-family: $secondary-font;
            text-align: center;
            display: flex;
            flex-direction: column;
            padding-right: 0;
            justify-content: center;
            border-bottom: 2px solid $black;
            border-right: 0;

            @include tablet {
                width: 20%;
                padding-right: pxToEm(10);
                padding-top: 0;
                border-bottom: 0;
                border-right: 2px solid $black;
            }

            a {
                font-weight: 700;
                cursor: pointer;
                text-decoration: none;
                color: $black;
                transition: all 0.2s ease-in;
                width: fit-content;
                margin: 0 auto pxToEm(15) auto;
                text-decoration: underline;

                @include tablet {
                    margin: 0 auto;
                }

                &:hover {
                    color: $yellow;
                }

                @include focus-state($yellow);
            }

            svg {
                font-size: pxToEm(50);
                margin: 0 auto;
                padding-bottom: pxToEm(5);
            }

            span {
                font-family: $secondary-font;
                font-weight: 400;
                font-size: pxToEm(18);
                padding-bottom: pxToEm(10);
            }
        }

        .details {
            width: 100%;
            padding-left: 0;
            margin-top: pxToEm(15);

            @include tablet {
                margin-top: 0;
                padding-left: pxToEm(20);
            }

            @include tablet {
                width: 80%;
            }

            h2 {
                padding: pxToEm(15) 0;
                font-weight: 700;
                font-size: pxToEm(24);
                text-align: left;
            }

            .time, .location {
                display: flex;
                div {
                    display: flex;

                    svg {
                        width: pxToEm(20);
                    }
                }

                @include tablet {
                    // align-items: flex-end;
                }

                svg {
                    @include tablet {
                        width: pxToEm(20);
                    }
                }
            }

            .time {
                padding-top: pxToEm(5);
                div {
                    margin-right: pxToEm(3);
                }
            }

            .location {
                padding-bottom: pxToEm(5);

                div {
                    margin-right: pxToEm(5);
                }
                .venue-name {
                    font-weight: 700;
                    font-size: inherit;
                    letter-spacing: inherit;
                    display: contents;
                }
            }

            .details-label {
                font-size: pxToEm(12);
                padding-top: pxToEm(25);
                padding-bottom: pxToEm(5);
                font-weight: 700;
                text-decoration: underline;
            }

            .description {
                height: pxToEm(150);
                overflow-y: scroll;
                overflow-x: hidden;

                @include focus-state($yellow);
            }
        }
    }
}